body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.shop-header {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    box-sizing: border-box;
    padding-top: 27px;
}

.container.main {
    padding-top: 150px;
}

.bottles-area {
    height: auto;
    padding: 0;
    position: relative;
}

.a-bottle {
    height: 525px;
    margin: 0;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.a-bottle img {
    width: auto;
    height: 320px;
}

.a-bottle h5 {
    text-transform: uppercase;
}

.a-bottle .price {
    position: absolute;
    width: 80px;
    height: 30px;
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
    top: 150px;
    right: 50%;
    margin-right: -110px;
    font-size: 16px;
    line-height: 30px;
}

.a-bottle-ui {
    width: 100px;
    margin: 0 auto;
    font-size: 40px;
}

.a-bottle-ui .add-to-basket i {
    font-size: 35px;
    line-height: 35px;
    cursor: pointer;
}

.a-bottle-ui .remove i {
    font-size: 30px;
    line-height: 35px;
    cursor: pointer;
}

i:hover {
    color: #3c3c3c;
}

.request-info {
    margin-left: 15px;
    position: relative;
}

#info-box {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #000;
    height: auto;
    top: 33px;
    position: absolute;
    width: 240px;
    background-color: #FFF;
}

#info-box.box-fixed {
    position: fixed;
    top: 90px;
}

.filling-bottle-contanier {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#info-box h6 {
    font-size: 15px;
    font-weight: bold;
}

.request-info table {
    width: 100%;
}

.request-info table thead {
    border-bottom: 1px solid #eee;
}

.request-info table th,
.request-info table td {
    padding: 5px 0;
    font-size: 13px;
}

.request-info table td:nth-child(2),
.request-info table th:nth-child(2) {
    text-align: right;
}

.request-info table tbody tr:last-child {
    border-top: 1px solid #eee;
}

#order > tr > td > small {
    color: #a9c47f;
    font-size: 11px;
    padding-left: 2px;
}

@media screen and (max-width: 575px) {
    .shop-header {
        height: 50px;
        padding-top: 12px;
        text-align: center;
    }

    .container.main {
        padding-top: 210px;
    }

    .row.col-sm-6.col-md-8.col-lg-9.bottles-area {
        margin-left: 0;
        margin-right: 0;
    }

    .row.col-sm-6.col-md-4.col-lg-3.request-info {
        margin: 0;
    }

    #info-box,
    #info-box.box-fixed {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        width: 100%;
        top: 50px;
        left: 0;
        z-index: 3000;
        position: fixed;
        padding: 12px 12px 20px 12px;
        min-height: 160px;
    }

    .filling-bottle-contanier {
        width: auto;
        padding: 0;
        position: absolute;
        top: 50px;
        left: 12px;
    }

    .request-info table {
        width: auto;
        min-width: 50%;
        float: right;
        display: inline-block;
    }

    .a-bottle {
        height: 430px;
    }

    .a-bottle img {
        height: 240px;
    }

    .a-bottle .price {
        margin-right: -88px;
    }
}